h1 {
    text-align: center;
    color: goldenrod;
    font-size: 50px;
    font-family: 'Death Star', sans-serif;
    font-variant: small-caps;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
h2 {
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    margin-top: 10px;
}
#planets-field {
    border-bottom: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: goldenrod;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#destinations {
    color: goldenrod;
}
h3 {
    text-align: center;
    color: goldenrod;
}
canvas {
    background: radial-gradient(ellipse at center, #242938, #000 100%);
  }
p {
    background-color: black;
    color: goldenrod;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}
h4 {
    font-variant: small-caps;
    text-align: center;
}
body {
    margin: 0px;
}
grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(125px, auto);
    grid-gap: 20px;
}
div {
    background-color: goldenrod;
    box-shadow: 0 0 5px gold;
    line-height: 5px;
}
planets-cards > div:nth-child(even) {
    background-color: goldenrod;
}
.main::first-letter {
    font-weight: bold;
    font-size: xx-large;
}
.main::first-line {
    line-height: 99%;
}
#main-text {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}
img {
    width: 100%;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
span {
    display: flex;
    justify-content: center;
}
button {
    font-family: 'Death Star';
    font-variant: small-caps;
    transition: 1s;
    color: black;
    border-color: white;
    background-color: transparent;
    margin: auto;
    text-align: center;
    margin: 10px;
}
form {
    color: goldenrod;
    font-size: x-large;
    font-variant: small-caps;
    font-style: oblique;
    text-align: center;
    box-sizing: border-box;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#input-text-field {
    width: 50%;
}
.red-btn-mouse-over {
    transition: 1s;
    color: white;
    border-color: red;
    background-color: red;
}
.black-btn-mouse-over {
    transition: 1s;
    color: white;
    border-color: black;
    background-color: black;
}