h1 {
    text-align: center;
    color: goldenrod;
    font-size: 50px;
    font-family: 'Death Star', sans-serif;
    font-variant: small-caps;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
h3 {
    text-align: center;
    color: goldenrod;
}
body {
    background-repeat: no-repeat;
    background-size: 1600px 1300px;
    background-image: 
    url(https://img.freepik.com/free-photo/3d-hyperspace-background-with-warp-tunnel-effect_1048-12526.jpg?w=900&t=st=1674925173~exp=1674925773~hmac=e8d445ead749ba53b4959b1befddca499e0ed3e963902385e22d83f498503481);
    background-position: center;
}
p {
    background-color: blue;
    color: goldenrod;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}