h1 {
    text-align: center;
    color: goldenrod;
    font-size: 50px;
    font-family: 'Death Star', sans-serif;
    font-variant: small-caps;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
h2 {
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    margin-top: 10px;
}
#planets-field {
    border-bottom: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: goldenrod;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#destinations {
    color: black;
}
h3 {
    text-align: center;
    color: goldenrod;
}
canvas {
    background: radial-gradient(ellipse at center, #242938, #000 100%);
  }
p {
    background-color: black;
    color: goldenrod;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}